.paper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.preview {
    margin-bottom: 25px;
    font-size: 18px;

    /* Para evitar copia-pega usuario
    pointer-events: none;
    user-select: none;
    */
}

.dir {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}  

.backHome {
    padding-left: 10px;
    max-width: 20px;
}

.rss-row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 8px 25px 12px 25px;
    border: 1px solid black; 
    filter: drop-shadow(3px 3px 2px #0000005b);
}

.rss-row * {
    margin: 0px 10px;
}
.rss-link {
    width: 400px;
}

.rss-paper-container {
    width: 600px;
    margin: 50px;
    filter: drop-shadow(2px 2px 5px #ffffff);
}

.rss-paper {
    margin-bottom: 20px;
    padding-right: 20px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rss-paper-p {
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.219);
    background-color: #44d1c144;
}
.others-rss-paper-p1{
    margin-right: 10px;
}
.title {
    color: white;
    filter: drop-shadow(3px 3px 2px #000000c4);
    margin: 20px;
}
.add {
    color: #006459;
    filter: drop-shadow(3px 3px 2px #51bbafa6);
}
.left {
    display: flex;
    align-items: center;
}
.right {
    flex-grow: 1;
}