.main {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
.options-title {
    flex-grow: 1;
    margin-bottom: 80px;
    height: 40px;
    color: white;
    filter: drop-shadow(3px 3px 2px #000000d3);
}
main {
    flex-grow: 5;
}
footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1 {
    margin: 0px;
}

.footer-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span-footer {
    margin: 10px 0px;
}

.final-title {
    font-size: 65px;
}
